<section class="h-100 bg-primary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-center">ĐĂNG KÍ TÀI KHOẢN</h3>

             
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg"  formControlName="firstName"/>
                        <label class="form-label" for="form3Example1m">Họ - Tên lót</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" formControlName="lastName"/>
                        <label class="form-label" for="form3Example1n">Tên</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example97" class="form-control form-control-lg" formControlName="email"/>
                    <label class="form-label" for="form3Example97">Địa chỉ Email - (Dùng để đăng nhập)</label>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg"  formControlName="address"/>
                        <label class="form-label" for="form3Example1m">Bộ phận nghiệp vụ</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" formControlName="phone"/>
                        <label class="form-label" for="form3Example1n">SĐT<Table></Table></label>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example97" class="form-control form-control-lg" formControlName="hashPW"/>
                    <label class="form-label" for="form3Example97">Mật khẩu</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example97" class="form-control form-control-lg" formControlName="re_password"/>
                    <label class="form-label" for="form3Example97">Nhập lại mật khẩu</label>
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-danger btn-lg mr-2" (click)="clear()">Reset all</button>
                    <button type="submit" class="btn btn-info btn-lg ms-2 {{isLoading}}">Đăng kí</button>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>