<div class="main-panel">

    <div class="content">
  
      <div class="page-inner">
  
  
        <div class="clearfix">
          <span class="float-left">
            <h4 class="page-title">Danh Sách nhân viên</h4>
          </span>
          <span class="float-right"> <button class="btn btn-primary btn-round" routerLink="create"><i
                class="fa-solid fa-plus"></i> Thêm mới</button></span>
  
        </div>
  
  
      
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
               
              </div>
  
              <div class="card-body">
                <!-- Modal -->
  
                <circle-progress *ngIf="showSpinner" [percent]="100" [radius]="100" [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                  [animationDuration]="10000"></circle-progress>
                <div class="table-responsive">
  
  
                
                 <div class="table-responsive">
                    <table class="table table-head-bg-success mb-3 " >

                        <thead class="thead-dark">
                         
                          <tr>
                            <th scope="col">Họ Tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">SĐT</th>
                            <th scope="col">Địa chỉ</th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor="let item of listUser"    >
                    
                            <td>{{item.firstName}} {{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.address}}</td>
                    
                          </tr>
                        </tbody>
                    
                      </table>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
       
      </div>
    </div>
  </div>
  